<nav class="red lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><i class="fas fa-baseball-ball"></i> Braves</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><i class="fas fa-paperclip"></i></a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="fas fa-ellipsis-v"></i></a>
    </div>
  </nav>
  